<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>

      <!-- in place of to-way binding we can also use local reference -->
      <!-- 
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      -->
      <!-- #serverName is local reference -->
      <input type="text" class="form-control" #serverNameInputLocalReference>
      
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">

      <label>Server Location</label>
      <!-- using local reference instead of two-way binding -->
      <input type="text" class="form-control" #serverLocationInputLocalReference>

      <label>Server OS</label>
      <input type="text" class="form-control" [(ngModel)]="os">

      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInputLocalReference)" style="margin: 5px">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInputLocalReference)" style="margin: 5px">Add Server Blueprint</button>
    </div>
  </div>
