<div class="panel panel-default">
  <!-- adding a local reference to panel heading -->
  <div class="panel-heading" #headingLocalReference>{{ element.name }}</div>
  <div class="panel-body">
    <p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>      
    </p>
    <p>
      <strong *ngIf="element.type === 'server'" style="color: blueviolet">{{ element.location }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.location }}</em>      
    </p>
    <p>
      <strong *ngIf="element.type === 'server'" style="color: brown">{{ osName }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ osName }}</em>      
    </p>
  </div>
</div>
<ng-content></ng-content>
