<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)" >

  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeOS()" style="margin: 5px">Change first server OS to Windows</button>
      <button class="btn btn-danger" (click)="onServerDestroy()" style="margin: 5px">Remove first server</button>
      <hr>
      <!-- setting srvElement or element property in server-element   -->
      <!-- binding osName -->   
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [osName] = "serverElement.os">
          <!-- adding another local reference here -->
          <!-- this local reference will NOT be part of the view, 
            instead it will be part of the content in server element -->

          <!--- only hard coded values can be captured in ngAfterContentInit. 
            String interpolated values won't be accessible in ngAfterContentInit  -->
            
          <p style="font-size:x-small" #additionalContentLocalReference>this is displayed by ng-content</p>
                          
      </app-server-element>
    </div>
  </div>
</div>
